.header {
  background: white;
  color: #8B7969;
  text-align: center;
  border: 1px solid #E0DFDE;
  max-width: 1515px;
  height: 100px;
}

.header__inner {
  margin: 0 auto;
  padding-top: 10px;
}

.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1515px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
  color: #8B7969;
}

.form {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form__input-keyword {
  width: 280px;
  height: 50px;
  background-color: #f4f4f4;
  color: #BEB1A6;
  border: 1px solid #E3DED9;
  margin-right: 10px;
}

.form__select-gender {
  width: 60px;
  height: 50px;
  background-color: #f4f4f4;
  color: #8B7969;
  border: 1px solid #E3DED9;
  margin-right: 10px;
}

.form__option-categories {
  width: 150px;
  height: 50px;
  background-color: #f4f4f4;
  color: #8B7969;
  border: 1px solid #E3DED9;
  margin-right: 10px;
}

.form__input-date {
  width: 100px;
  height: 50px;
  background-color: #f4f4f4;
  color: #8B7969;
  border: 1px solid #E3DED9;
  margin-right: 10px;
}

.form__button-search {
  padding: 10px;
  width: 100;
  height: 50px;
  border: none;
  background: #8B7969;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.form__button-reset {
  padding: 10px;
  width: 100;
  height: 50px;
  border: none;
  background: #D9C6B5;
  color: #fff;
  cursor: pointer;
}

.form__button {
  margin-top: 30px;
}

.form__button-content {
  display: flex;
}

.form__button--left {
  width: 100px;
  text-align: left;
}

.form__button--right {
  width: 1000px;
}

.form__button-export {
  padding: 10px;
  width: 148;
  height: 39px;
  border: none;
  background: #E1DBD6;
  color: #8B7969;
  cursor: pointer;

}

.pagination {
  display: flex;
  justify-content: left;
  margin-top: -3px;
  margin-left: 20px;
  .page-item {
    border: 1px solid #eeeeee;
    padding: 10px;
  }
  .disabled {
    color: #222222;
  }
  .active {
    background: #8B7969;
  }
  .page-link {
    color: #999999;
  }
}

.admin-table {
  width: 1183px;
}
.admin-table__inner {
  border-collapse: collapse;
  border: 1px solid #E0DFDE;
}

.admin-table__header {
  background-color: #8B7969;
  color: white;
  height: 59px;
}

.admin-table__content {
  padding: 20px;
  border-bottom: 1px solid #E0DFDE;
}

.admin-table__button {
  padding: 20px;
  border-bottom: 1px solid #E0DFDE;
}