.header {
  background: white;
  color: #8B7969;
  text-align: center;
  border:1px solid #E0DFDE;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1512px;
  height: 100px;
}

.confirm__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 972px;
}

.confirm__heading {
  font:lnika;
  color: #8B7969;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 70%;
  padding: 10px;
}

.confirm-table {
  border: 1px solid #ddd;
}

.confirm-table__inner {
  width: 100%;
}

.confirm-table__header {
  padding: 15px;
  width: 35%;
  border-bottom: 1px solid #E0DFDE;
  background-color: #BAA899;
  color: white;
  text-align: left;
  font-weight: normal;
  
}

.confirm-table__text {
  padding: 15px;
  border-bottom: 1px solid #E0DFDE;
  color: #8B7969;
  size: 20px;
}

.confirm-table__text input {
  width: 100%;
  outline: none;
  border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
  border-bottom-width: 0;
}

.form__button {
  margin-top: 30px;
  text-align: center;
}

.form__button-submit {
  padding: 10px, 40px, 10px, 40px;
  width: 120px;
  height: 42px;
  border: none;
  background: #82756A;
  color: #fff;
  cursor: pointer;
}

.form__button-submit-fix {
  padding: 10px, 40px, 10px, 40px;
  width: 40px;
  height: 24px;
  border: none;
  background: white;
  color: #8B7969;
  cursor: pointer;
  margin-left: 20px;
  text-decoration: underline;
}