.header {
  background: white;
  color: #8B7969;
  text-align: center;
  border:1px solid #E0DFDE;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1512px;
  height: 100px;
}

.contact-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 972px;
}

.contact-form__heading {
  font:lnika;
  color: #8B7969;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #8B7969;
}

.form__group-title {
  display: inline-block;
  width: fit-content;
}

.form__label--required {
  margin-left: 5px;
  padding: 4px 6px;
  border-radius: 3px;
  color: red;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
}

.form__group--text {
  display: inline-block;
  width: fit-content;
}

.form__input--last-name {
  border: 1px solid #ddd;
  margin-right: 30px;
  background-color: #f4f4f4;
  padding: 10px;
  width: 200px;
}

.form__input--first-name {
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  padding: 10px;
  width: 200px;
}

.form__input--radio {
  display: inline-block;
  width: fit-content;
}

.form__input--email {
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  padding: 10px;
  width: 430px;
}

.form__input--tell {
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  padding: 10px;
  width: 125px;
}

.form__label--tell {
  margin-left:5px;
  margin-right: 5px;
}

.form__input--address {
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  padding: 10px;
  width: 430px;
}

.form__input--building {
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  padding: 10px;
  width: 430px;
}

.form__select--categories {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  width: 200px;
  height: 40px;
}
/* .form__input--text input,*/
.form__input--textarea textarea {
  padding: 10px;
  width: 430px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
} 

.form__input--text input {
  height: 40px;
}

.form__input--textarea textarea {
  height: 180px;
}

.form__button {
  margin-top: 30px;
}

.form__button-submit {
  padding: 10px, 40px, 10px, 40px;
  width: 160px;
  height: 46px;
  border: none;
  background: #82756A;
  color: #fff;
  cursor: pointer;
}